* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 6000px;
    color: #333333;
    font-size: 12px;
    font-family: 微软雅黑;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 980px;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}