.live {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.live > .live-left {
    width: 700px;
}

.live > .live-left > .live-title {
    height: 45px;
    display: flex;
    align-items: center;
}

.live > .live-left > .live-title > .icon {
    display: inline-block;
    width: 40px;
    height: 35px;
    background: url(../img/icons3.png) no-repeat -140px -654px;
}

.live > .live-left > .live-title > .name {
    font-size: 25px;
    margin-left: 20px;
    line-height: 45px;
}

.live > .live-left > .live-title > .num {
    margin-left: 20px;
    margin-top: 10px;
    color: #99a2aa;
}

.live > .live-left > .live-title > .num > span {
    color: #00a1d6;
}

.live > .live-left > .live-title > .hot {
    margin-left: 30px;
    margin-top: 10px;
}

.live > .live-left > .live-title > .hot > .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/icons3.png) no-repeat -665px -1113px;
    vertical-align: top;
}

.live > .live-left > .live-title > .hot > span {
    transition: all 0.3s;
}

.live > .live-left > .live-title > .hot:hover > span {
    color: #00a1d6;
}

.live > .live-left > .live-title > .status {
    width: 120px;
    height: 24px;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    margin-left: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.live > .live-left > .live-title > .status > .status-info > .status-num {
    font-weight: bold;
}

.live > .live-left > .live-title > .status > .icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../img/icons3.png") -475px -88px;
}

.live > .live-left > .live-title > .more {
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    margin-left: 10px;
    width: 52px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    transition: all 0.3s;
}

.live > .live-left > .live-title > .more:hover {
    background-color: #ccd0d7;
}

.live > .live-left > .live-title > .more > span {
    font-family: 'Consolas';
}

.live > .live-left > .live-ct {
    margin-top: 10px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.live > .live-left > .live-ct > .item {
    width: 160px;
    margin-bottom: 10px;
}

.live > .live-left > .live-ct > .item > a > .pic {
    position: relative;
    width: 160px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
}

.live > .live-left > .live-ct > .item > a > .pic > img {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.live > .live-left > .live-ct > .item > a > .pic > span {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 19px;
    line-height: 12px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 3px 5px;
    border-radius: 0 0 4px 0;
    transition: all 0.3s;
    opacity: 1;
}

.live > .live-left > .live-ct > .item > a:hover > .pic > span {
    opacity: 0;
}

.live > .live-left > .live-ct > .item > a > .pic > .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    opacity: 0;
}

.live > .live-left > .live-ct > .item > a:hover > .pic > .mask {
    opacity: 1;
}

.live > .live-left > .live-ct > .item > a > .pic > .mask > .mark {
    display: block;
    width: 48px;
    height: 20px;
    background-color: #00a1d6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.live > .live-left > .live-ct > .item > a > .pic > .mask > .mark > .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.live > .live-left > .live-ct > .item > a > p {
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    color: #333333;
    overflow: hidden;
    transition: all 0.3s;
}

.live > .live-left > .live-ct > .item > a:hover > p {
    color: #00a1d6;
}

.live > .live-left > .live-ct > .item > a > .info {
    width: 100%;
    margin-top: 5px;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: flex-end;
}

.live > .live-left > .live-ct > .item > a > .info > .auther {
    display: inline-block;
    width: 50%;
    height: 14px;
    line-height: 12px;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #b3a2aa;
}

.live > .live-left > .live-ct > .item > a > .info > .auther > .icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
    background: url("../img/icons3.png") no-repeat -282px -154px;
}

.live > .live-left > .live-ct > .item > a > .info > .audience {
    display: inline-block;
    height: 14px;
    line-height: 12px;
    overflow: hidden;
    vertical-align: bottom;
    color: #b3a2aa;
}

.live > .live-left > .live-ct > .item > a > .info > .audience > .icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
    background: url("../img/icons4.png");
}

.live > .live-right {
    width: 260px;
}

.live > .live-right > .tab {
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.live > .live-right > .tab > .tab-panel {
    position: relative;
    height: 25px;
    line-height: 25px;
    margin-right: 12px;
    cursor: pointer;
}

.live > .live-right > .tab > .on {
    border-bottom: 1px solid #00a1d6;
}

.live > .live-right > .tab > .on::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -3px;
    width: 0;
    height: 0;
    border: 3px dashed #00a1d6;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.live > .live-right > .tab-item {
    position: relative;
    width: 260px;
    height: 330px;
    margin-top: 10px;
    overflow: hidden;
}

.live > .live-right > .tab-item > .carousel-outside {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    left: 0;
    transition: all 0.6s;
}

.live > .live-right > .tab-item > .carousel-outside > .ct {
    width: 260px;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item {
    position: relative;
    width: 260px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding-left: 25px;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .number {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #b8c0cc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .num-top {
    background-color: #f25d8e;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .logo {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .logo > img {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .content {
    width: 180px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .content > p {
    display: flex;
    justify-content: space-between;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .content > p > span {
    color: #333333;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .content > p > .audience {
    display: flex;
    align-items: center;
    height: 12px;
    line-height: 12px;
    color: #99a2aa;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .content > p > .audience > .icon {
    display: inline-block;
    background: url("../img/icons4.png") no-repeat 0px 0px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.live > .live-right > .tab-item > .carousel-outside > .ct > .r-item > .content > span {
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #99a2aa;
}

.live > .live-right > .tab-item > .carousel-outside > .follow {
}

.live > .live-right > .tab-item > .carousel-outside > .follow > .r-item {
    padding-left: 0px;
}

.live > .live-right > .tab-item > .carousel-outside > .follow > .r-item > .content {
    width: 200px;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .carousel-inside {
    position: relative;
    width: 260px;
    height: 248px;
    overflow: hidden;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .carousel-inside > .slide {
    position: absolute;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .carousel-inside > .slide > li {
    float: left;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .carousel-inside > .dot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .carousel-inside > .dot > li {
    float: left;
    width: 15px;
    height: 8px;
    border-radius: 4px;
    margin-right: 5px;
    background-color: white;
    transition: all 0.3s;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .carousel-inside > .dot > li.active {
    width: 35px;
    background-color: #f45d8f;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .rec-card {
    display: flex;
    justify-content: space-between;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .rec-card > a {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    width: 56px;
    height: 56px;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .rec-card > a > img {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .rec-card > a > .mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16px;
    line-height: 16px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.live > .live-right > .tab-item > .carousel-outside > .recommend > .rec-card > a > .mask > span {
    color: white;
    font-size: 10px;
}