.special {
    margin-bottom: 40px;
}

.special > .title {
    height: 45px;
    display: flex;
    align-items: center;
}

.special > .title > .icon {
    display: inline-block;
    width: 40px;
    height: 35px;
    background: url(../img/icons3.png) no-repeat -141px -142px;
}

.special > .title > .name {
    font-size: 25px;
    margin-left: 20px;
    line-height: 45px;
}

.special > .title > .spe-ct {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.special > .spe-ct {
    display: flex;
    justify-content: space-between;
}

.special > .spe-ct > .spe-ct-left {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.special > .spe-ct > .spe-ct-left > .spe-item {
    width: 160px;
}

.special > .spe-ct > .spe-ct-left > .spe-item > .user {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.special > .spe-ct > .spe-ct-left > .spe-item > .user > .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.special > .spe-ct > .spe-ct-left > .spe-item > .user > .info > .logo {
    position: relative;
    bottom: 25px;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.special > .spe-ct > .spe-ct-left > .spe-item > .user > .info > .logo > img {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.special > .spe-ct > .spe-ct-left > .spe-item > .user > .info > .name {
    width: 70px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
}

.special > .spe-ct > .spe-ct-left > .spe-item > .user > .info > .tag {
    color: #aaaaaa;
}

.special > .spe-ct > .spe-ct-left > .spe-item > .title {
    height: 40px;
    line-height: 20px;
    margin-top: -20px;
    word-wrap: break-word;
    word-break: break-all;
}

.special > .spe-ct > .spe-ct-right {
    position: relative;
    width: 260px;
    height: 173px;
    overflow: hidden;
}

.special > .spe-ct > .spe-ct-right > .spe-ad > a > img {

}
